<?php
$config = array(
	'public_key'	=> 'your API public key',
	'private_key'	=> 'your API private_key',

	'profit_percent'	=> 1.02,	// sell price
	'stop_lost_percent'	=> 0.98,	// buy price
	'order_proportion'	=> 0.7,
	'sell_proportion'	=> 0.7,

	// import previous status, only one of these variable can be set
	'init_buy_count'	=> 2,
	'init_sell_count'	=> 1,

	// log file name, set to null string to stop loggin
	'log_filename'		=> 'bot.log',
);
?>
